@import url('https://fonts.googleapis.com/css2?family=Poiret+One&family=Ramabhadra&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Poiret One', cursive;
  font-size: 52.5%;
}

body {
  font-size: 2.4rem;
}

main {
  margin: 2rem;
}
